/* Cart Icon Styles */
.cartIconWrapper {
  position: relative;
  margin-bottom: 6px;
}

.cartIcon {
  font-size: 1.4rem;
  cursor: pointer;
  color: #000;
  position: relative;
  display: flex;
  align-items: center;
}
.cartIcon > svg {
  font-size: 1.4rem;
  width: 1.4rem;
  height: 1.4rem;
}

.cartIcon:hover {
  color: var(--btn-hover-main);
}
.cartItemCount {
  position: absolute;
  top: -2px;
  right: -8px;
  background-color: var(--btn-hover-main);
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  border-radius: 50%;
  padding: 0 5px;
}
